</section>

<!-- footer section starts  -->

<section class="footer">

   <div class="box-container container">

      <div class="box">
         <i class="fas fa-phone"></i>
         <h3>numéro de téléphone</h3>
         <p>+123-456-7890</p>

      </div>

      <div class="box">
         <i class="fas fa-map-marker-alt"></i>
         <h3>notre adresse</h3>
         <p>Paris, France - 123456</p>
      </div>

      <div class="box">
         <i class="fas fa-clock"></i>
         <h3>horaires d'ouvertures</h3>
         <p>10:00am à 07:00pm</p>
      </div>

      <div class="box">
         <i class="fas fa-envelope"></i>
         <h3>adresse e-mail</h3>
         <p>chen@gmail.com</p>

      </div>

   </div>

   <div class="credit"> &copy;2023 <span>DentalClinic</span> All Reserved Rights </div>
   <ul>
  <li>Cours MVC 2020 - 2023</li>
  <li>Modifications pour intégrer Bootstrap version 5</li>  
  <li>UTT, Marc Lemercier, Technologies du Web : 7 mai 2020, 4 mai 2021 et 15 avril 2023, CHEN Jiashun</li>
</ul>
</section>

<!-- footer section ends -->

<!-- custom js file link  -->
<script src="../js/script.js"></script>

</body>
</html>

